@page "/audio"

<DefaultNavMenu />

<section class="platinum">
    <header class="with-motif opal">
        <h1>2022 Speaker Audio</h1>
    </header>
    <div class="longform-text">

        <h3>2022 Speakers: Selected Presentation Recordings</h3>


        <p></p>
        <table class="agenda">
            <thead>
                <tr>
                    <th>Speaker</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Keoni Mahelona</td>
                    <td>
                        <figure>
                            <figcaption>From one to ten at an indigenous tech company:</figcaption>
                            <audio
                                controls
                                src="/media/keoni.mp3">
                                    Your browser does not support the
                                    <code>audio</code> element.
                            </audio>
                        </figure>
                    </td>
                </tr>
                <tr>
                    <td>Reuben Dunn</td>
                    <td>
                        <figure>
                            <figcaption>What I want to be when I grow up?:</figcaption>
                            <audio
                                controls
                                src="/media/reuben.mp3">
                                    Your browser does not support the
                                    <code>audio</code> element.
                            </audio>
                        </figure>
                    </td>
                </tr>
                <tr>
                    <td>Rachel Collingridge</td>
                    <td>
                        <figure>
                            <figcaption>Engineering happiness: beyond the espresso machine:</figcaption>
                            <audio
                                controls
                                src="/media/rachel.mp3">
                                    Your browser does not support the
                                    <code>audio</code> element.
                            </audio>
                        </figure>
                    </td>
                </tr>
                <tr>
                    <td>Matthew Berrigan</td>
                    <td>
                        <figure>
                            <figcaption>A Deeper Quest - Finding New Pathways into the Mountain:</figcaption>
                            <audio
                                controls
                                src="/media/matthew.mp3">
                                    Your browser does not support the
                                    <code>audio</code> element.
                            </audio>
                        </figure>
                    </td>
                </tr>
                <tr>
                    <td>Ben Gracewood</td>
                    <td>
                        <figure>
                            <figcaption>A Hypocritical Adventure:</figcaption>
                            <audio
                                controls
                                src="/media/ben.mp3">
                                    Your browser does not support the
                                    <code>audio</code> element.
                            </audio>
                        </figure>

                    </td>
                </tr>
            </tbody>
        </table>


    </div>
</section>