@page "/covid"

<DefaultNavMenu />

<section class="platinum bg-img-4">
    <header class="with-motif opal">
        <h1>Covid-19 Information</h1>
    </header>
    <div class="longform-text">

        <h3>New Zealand&rsquo;s Covid-19 "Traffic Light" Framework</h3>

        <p>
            We can&rsquo;t wait to see you and deliver a fantastic event. There are 
            a few things we all need to do when attending the DevNxt conference.
        </p>
        <p>
            Key tools such as contact tracing continue to play an important part in 
            minimising the impacts of the Covid-19 virus. DevNxt values are centred 
            around collaboration, support and the collective good. We feel it is 
            important to play our part to support the country&rsquo;s well-being 
            effort.
        </p>
        <p>
            Requiring a vaccination certificate will be part of our event&rsquo;s 
            admission criteria. We feel this requirement is a good step to ensure 
            we reduce the risks for our attendees, and will be less affected by 
            more strict limits on capacity and space requirements should the 
            south&rsquo;s alert levels change.
        </p>
        <p>
            We encourage attendees to wear a mask where appropriate during our event 
            and ask everyone to be responsible in assessing their own health. It can 
            be incredibly tempting to dismiss minor cold symptoms when you have an 
            exciting engagement to look forward to, but please consider the impact of 
            your choices on every other person.
        </p>
        <p>
            We can&rsquo;t wait to bring you an exciting event and look forward to a 
            day of high energy conversations and memorable, inspiring ideas. See you 
            in Dunedin!
        </p>
        <p></p>
    </div>
</section>