@page "/"
@inject HttpClient Http
@inject Blazor.Analytics.IAnalytics Analytics

<NavMenu />

<section class="home" id="home-section">
      <header>
          <img src="/img/DevNxt-logo-orange.png" alt="DevNxt conference logo" class="header-logo">
          <p class="strip sash">May 6 2022 <br/> Dunedin NZ</p>
      </header>
      <div>
          <p class="byline">
              New Zealand&rsquo;s premier boutique conference for technology people
          </p>
          <time datetime="2022-05-06" class="event-date">May 6 2022</time>
          <div class="cta">
              <a href="/purchase" class="button primary">Purchase tickets</a>
          </div>
      </div>

        <div class="animated bounce carat">&or;</div>
</section>
<section id="taglinesection" class="orange tagline" >
    <p class="jumbo with-motif">
        Your tech stack foundation: people
    </p>
</section>
<section id="agenda-section" class="orange">
    <header id="agenda" class="with-motif opal">
        <h1>Agenda</h1>
    </header>
    <div>
        <div class="topic-grid">
            <div>
                <h2>The Talks</h2>
                <table class="agenda">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Speaker</th>
                            <th>Title</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>8:30 AM</td>
                            <td>Laura Bell</td>
                            <td>Team of 30 million, Reducing software vulnerability at a global scale</td>
                        </tr>
                        <tr>
                            <td>9:15 AM</td>
                            <td>Lauren Peate</td>
                            <td>Forget the 10x developer – focus on the 10x team</td>
                        </tr>
                        <tr>
                            <td>10:30 AM</td>
                            <td>Keoni Mahelona</td>
                            <td>From one to ten at an indigenous tech company</td>
                        </tr>
                        <tr>
                            <td>11:15 AM</td>
                            <td>Cheryl Adams</td>
                            <td>Humble leadership</td>
                        </tr>
                        <tr>
                            <td>1:00 PM</td>
                            <td>Reuben Dunn</td>
                            <td>What I want to be when I grow up?</td>
                        </tr>
                        <tr>
                            <td>1:45 PM</td>
                            <td>Rachel Collingridge</td>
                            <td>Engineering happiness: beyond the espresso machine</td>
                        </tr>
                        <tr>
                            <td>2:30 PM</td>
                            <td>Matthew Berrigan</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3:45 PM</td>
                            <td>Ben Gracewood</td>
                            <td>A Hypocritical Adventure</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div>
                <h2>The Event</h2>
                <p>
                    DevNxt is a full day in scenic Dunedin, hearing from respected and recognised technical leaders on a range of topics that apply to all levels 
                    of your business technology capability. From senior developers, architects, team leaders and team members aspiring to move into 
                    leadership roles (or even those who are unsure if it’s the right thing for them), our speaker topics will provide a 
                    personal and insightful window into those next steps.
                </p>
                <p>
                    Technology is a great career path, but where to next? Come along and find out!
                </p>
            </div>
        </div>
    </div>
</section>
<section class="platinum">
    <header id="speakers" class="with-motif tan">
        <h1>Speakers</h1>
    </header>
    <div>
        <h2>Our 2022 Speakers</h2>
        <div class="speaker-grid">
            @if (speakers == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                foreach(Presenter speaker in speakers){
                    <SpeakerComponent Presenting=@speaker OnShowBio=@ShowSpeakerBio  />
                }
            }
        </div>
            
    </div>
</section>
<section class="opal">
    <header id="sponsors" class="with-motif tan">
        <h1>Sponsors</h1>
    </header>
    <div>
        <h2>Our Awesome Sponsors</h2>
        <p>
            DevNxt would not be possible without the amazing support of our fantastic sponsors!
        </p>
        <div class="speaker-grid sponsors">
            <Sponsor Title="Pushpay" Logo="pushpay-logo-stacked.png" Tier="Silver" Url="https://pushpay.com/" />
            <Sponsor Title="Raygun" Logo="raygun-logo-portrait-lockup.png" Tier="Silver" Url="https://raygun.io" />
            <Sponsor Title="Xero" Logo="xero-logo.png" Tier="Standard" Url="https://xero.com" />
        </div>
    </div>
</section>


@code {
    private Presenter[] speakers;
    private Presenter activeSpeaker;
    protected bool ShowBio = false;

    protected override async Task OnInitializedAsync()
    {
        await Analytics.TrackNavigation("~/");
        speakers = await Http.GetFromJsonAsync<Presenter[]>("sample-data/speaker-data.json");
    }

    private void ShowSpeakerBio(string Name){
        int speakerIndex = Array.FindIndex(speakers, s => s.Name == Name);
        activeSpeaker = speakers[speakerIndex];
        ShowBio = true;
    }

    private void CloseBio(){
        ShowBio = false;
        activeSpeaker = null;
    }
}