@page "/"
@inject HttpClient Http
@inject Blazor.Analytics.IAnalytics Analytics

<NavMenu />

<section class="home" id="home-section">
      <header>
          <img src="/img/DevNxt-logo-orange.png" alt="DevNxt conference logo" class="header-logo">
          <p class="strip">May 6 2022 <br/> Dunedin NZ</p>
      </header>
      <div>
          <p class="byline">
              New Zealand&rsquo;s premier boutique conference for technology people
          </p>
          <div class="cta">
              <a href="/about" class="button">Find out more</a> 
              <a href="/purchase" class="button primary">Purchase tickets</a>
          </div>
      </div>

</section>
<section id="taglinesection" class="orange" >
  <p class="jumbo with-motif">
    IT is your life.  Enjoy IT
  </p>
</section>
<section class="platinum">
    <header id="speakers" class="with-motif tan">
        <h1>Speakers</h1>
    </header>
    <div>
        <h2>Our 2022 Speakers</h2>
        <div class="speaker-grid">
            @if (speakers == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                foreach(Presenter speaker in speakers){
                    <Speaker Presenting=@speaker OnShowBio=@ShowSpeakerBio  />
                }
            }
        </div>
        @if(ShowBio){
            <div class="speaker-bio">
                <SpeakerBio Speaker=activeSpeaker />
                <button type="button" class="btn" @onclick=CloseBio>X</button>
            </div>
        }
    </div>
</section>
<section class="opal">
    <header id="sponsors" class="with-motif tan">
        <h1>Sponsors</h1>
    </header>
    <div>
        <h2>Our Awesome Sponsors</h2>
        <div class="speaker-grid">
            <Sponsor Title="Xero" Logo="xero-logo.png" Tier="Standard" />
        </div>
    </div>
</section>


@code {
    private Presenter[] speakers;
    private Presenter activeSpeaker;
    protected bool ShowBio = false;

    protected override async Task OnInitializedAsync()
    {
        await Analytics.TrackNavigation("~/");
        speakers = await Http.GetFromJsonAsync<Presenter[]>("sample-data/speaker-data.json");
    }

    private void ShowSpeakerBio(string Bio){
        Console.WriteLine(Bio);
        Console.WriteLine(Array.FindIndex(speakers, s => s.Bio == Bio));
        int speakerIndex = Array.FindIndex(speakers, s => s.Bio == Bio);
        activeSpeaker = speakers[speakerIndex];
        ShowBio = true;
    }

    private void CloseBio(){
        ShowBio = false;
        activeSpeaker = null;
    }
}