@page "/purchase"

<DefaultNavMenu />

<section class="tan-t" >
  <div class="left-image-fill" style="background-image:url('/img/purchase-bg.jpg');"></div>
  <div class="right-opal-box">
    <header >
        <h1>Let&rsquo;s do this!</h1>
    </header>
    <div class="">
        <p>

        </p>
        <p  class="byline">
            We use another great NZ company <i>Lil Regie</i> to handle ticketing and sales.
        </p>
        <p class="cta">
          <!-- href="https://devnxt.lilregie.com/booking/attendees/new" -->
          <a class="button primary" title="Buy now" href="https://devnxt.lilregie.com/booking/attendees/new" >Purchase Tickets Now</a>
        </p>
    </div>
  </div>
</section>
<section class="platinum">
    <header id="speakers" class="with-motif tan">
        <h1>Purchase your ticket</h1>
    </header>
    <div>
        <h2>Book your conference ticket now</h2>

        <p>DevNxt is being held in the fun, relaxed setting of the Chisholm Links conference rooms in sunny* Dunedin.</p>
        <!--<p>* Of course it&rsquo;s sunny! What are you talking about?</p>-->
        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=170.52286505699158%2C-45.90918557728514%2C170.5252254009247%2C-45.90263456635924&amp;layer=mapnik&amp;marker=-45.905912034843205%2C170.52404522895813" style="border: 1px solid black"></iframe>
        <br/>
        <p>
          <small><a href="https://www.openstreetmap.org/?mlat=-45.90591&amp;mlon=170.52405#map=18/-45.90591/170.52405">View Larger Map</a></small>
        </p>
    </div>
</section>
