html { scroll-behavior: smooth; }

/* ====== TYPOGRAPHY ====== */
h1, .h1 { font: 500 2em/1.4 'Montserrat', sans-serif; }
h2, .h2 { font: 500 1.33em/1.4 'Montserrat', sans-serif; }
h3, .h3 { font: 300 1.2em/1.25 'Montserrat', sans-serif; }

p, ul, li, blockquote, label, input, textarea { font: 300 0.82em/1.4 'Montserrat', sans-serif; }
li { font-size: unset; }
a { color: var(--orange); font: inherit; text-decoration: none; }
footer a { color: inherit; }

.speaker h3 { color: var(--platinum); font-weight: normal;}

.byline { color: var(--platinum); font-size: 1.4em; font-weight: 500; }



/* ====== STRUCTURE ====== */
.page { display: grid; grid-auto-flow: row; grid-auto-rows: minmax(40vh, min-content); grid-template-rows: minmax(60vh, min-content); }
.speaker-grid { display: grid; justify-items: center; gap: 1em 2em; grid-template-columns: repeat(4, minmax(200px, 1fr)); grid-template-rows: repeat(2, minmax(320px, 1fr)); margin: 0 auto; max-width: 82%; min-width: 67%; }

nav { background-color: transparent; position: fixed; top: 0; width: 100%; z-index: 3; transition: background-color 1.25s linear; }
nav ul { display: flex; flex-flow: row; justify-content: flex-end; list-style: none; gap: 1em; margin: 0; padding: 2em; }
nav li { font-size: 1em; }
nav .primary { border: 1px solid var(--orange); color: var(--white); border-radius: 0.3em; padding: 0.2em 0.4em; background-color: var(--orange);}
nav a{ color: var(--platinum);}
nav.scroll a{ color: var(--orange);}
nav.scroll a.primary{ color: var(--white);}

section { display: flex; flex-flow: column; height: 100%; overflow: hidden; }
.cta { display: flex; justify-content: center; }

form { display: flex; flex-flow: column; gap: 0.67em; }
.form-control { display: grid; grid-template-columns: minmax(160px, min-content) auto; gap: 1em; }

footer { padding: 2em 2em 4em; }

/* ====== UI LAYOUT ====== */
body { margin: 0; }
section { display: flex; flex-flow: column; height: 100%; position: relative; }
section.platinum { background-color: var(--platinum); color: var(--orange);}
section.opal { background-color: var(--opal); color: var(--black); }
section.orange { background-color: var(--orange); color: var(--platinum);}
section.tab { background-color: var(--tan); color: var(--platinum);}
section > div { color: var(--black); padding: 1em 2em; position: relative; }
figure img { width: 100%; max-width: 300px;}

.home { align-items: center; background-color: var(--opal); justify-content: center; flex-flow: column; gap: 2em; height: 100vh; text-align: center; }
.home time { font: 500 1.42em/1.4 'Montserrat', sans-serif;
  margin: 0.5em 0 2em;
  display: block;
  color: var(--black); }
.right-opal-box header { display: flex; justify-content: center; width: 74%; }
.header-logo { width: 70%; }

nav.scroll { background-color: var(--platinum); }

.left-image-fill{ padding: 0; position: absolute; width: 100%; z-index:-1; height: 100vh; background: url('/img/home-bg.jpg'); background-repeat: no-repeat; background-size: cover; background-position: 20% top;}
.right-opal-box { align-items: center; background: var(--opal-t); display: flex; width: 100%; z-index: 2; align-self: flex-end; height: 100%; flex-flow: column; padding: 10% 2em 0 2em; box-sizing: border-box;}
.right-opal-box > div { display: flex; align-items: center; flex-flow: column; }

p.jumbo { margin: auto; font-size: 2.2em; }
.tagline .jumbo { color: var(--orange); font-weight: 500; }

p.strip { 
  display: none;
}

.sash { 
  position: absolute;
  top: 3rem;
  left: -9rem;
  transform: rotate(-45deg);
  width: 33%;
}

header { z-index: 2; }
section.home > header { margin-top: 4em; text-align: center; z-index: 2; }
section.home > div { width: 50%; z-index: 2; }
.tagline { background: transparent url('/img/home-bg.jpg') no-repeat 50% 0%; background-size: cover; background-attachment: fixed; opacity: 0.9; }

.bg-img-2::before { align-items: center; background: transparent url('/img/home-bg-2.jpg') no-repeat 50% 0%; background-size: cover; content: ''; height: 100%; opacity: 0.25; position: absolute; width: 100%; z-index: 1; }
.bg-img-4::before { align-items: center; background: transparent url('/img/home-bg-4.jpg') no-repeat 50% 0%; background-size: cover; content: ''; height: 100%; opacity: 0.25; position: absolute; width: 100%; z-index: 1; }

.home-splash { background-color: var(--orange); height: 100vh; text-align: right; padding: 4em; }

.opal { background-color: var(--opal); }
.orange { background-color: var(--orange); }
.platinum { background-color: var(--platinum); }
.tan { background-color: var(--tan); }
.tan-t { background-color: var(--tan-t); }

.fg-opal { color: var(--opal) !important; }
.fg-orange { color: var(--orange) !important; }
.fg-platinum { color: var(--platinum) !important; }
.fg-tan { color: var(--tan) !important; }
.fg-tan-t { color: var(--tan-t) !important; }
.fg-black { color: black !important; }

.cta .button { background-color: var(--platinum);
    border: 1px solid var(--platinum);
    border-radius: 4px;
    color: var(--orange);
    font-size: 16px;
    margin: 0.25em 0.5em;
    padding: .75em 1.25em;
    text-transform: uppercase;
    font-family: 'Montserrat'; 
    font-weight: 400;
  }
.btn { border: 1px solid var(--platinum); border-radius: 4px; cursor: pointer; font: 400 16px/1.2 'Montserrat', sans-serif; padding: .75em 1.25em; }
.btn.primary, button.primary { background-color: var(--orange); color: var(--platinum); }
/* primar CTA button should always be orange because behavioural science */
.cta .button.primary{ background-color: var(--orange); color: var(--platinum);}  

.with-motif { padding: 1em 2em; position: relative; }
.with-motif.orange::before { background: transparent url('../img/DevNxt-conference-logo-platinum.png') no-repeat right top; background-size: contain; bottom: 0; content: ' '; height: 80%; position: absolute; right: 4em; width: 100%; }
.with-motif.orange h2, .with-motif.orange h1 { color: var(--platinum); }

.with-motif.opal::before { background: transparent url('../img/DevNxt-conference-logo-orange.png') no-repeat right top; background-size: contain; bottom: 0; content: ' '; height: 80%; position: absolute; right: 4em; width: 100%; }
.with-motif.opal h2, .with-motif.opal h1 { color: var(--orange); }

.with-motif.platinum::before { background: transparent url('../img/DevNxt-conference-logo-orange.png') no-repeat right top; background-size: contain; bottom: 0; content: ' '; height: 80%; position: absolute; right: 4em; width: 100%; }
.with-motif.platinum h1, .with-motif.platinum h2 { color: var(--opal); }

.with-motif.tan::before { background: transparent url('../img/DevNxt-conference-logo-platinum.png') no-repeat right top; background-size: contain; bottom: 0; content: ' '; height: 80%; position: absolute; right: 4em; width: 100%; }
.with-motif.tan h1, .with-motif.tan h2 { color: var(--platinum); }

.orange p.with-motif::before { background: transparent url('../img/DevNxt-conference-logo-platinum.png') no-repeat left center; background-size: 0.7em; top: 1em; content: ' '; height: 40%; position: absolute; right: 0em; width: 100%; }

.speaker { position: relative; background-color: var(--opal); display: flex; flex-flow: column; justify-content: space-between; width: 240px; }
.speaker h3, .speaker p { padding: 0 1rem; }

.speaker .box { align-self: flex-start; background-color: var(--orange); max-width: 50%; padding: 5px 5px 0 5px; position: relative; }
.speaker img { width: 100%; background-color: transparent; filter: grayscale(90%); transition: filter 0.5s ease-in-out; }
.speaker:hover img { filter: grayscale(0%);}

.sponsor { background-color: var(--platinum); border-radius: 3px; display: flex; flex-flow: column; max-width: 100%; justify-content: center; }
.sponsor-boundary { max-width: 100%; padding: 0 1em; }
.sponsor.tier-silver { grid-row: 1/2; }
.sponsor.tier-standard { grid-row: 2/3; }
.signatories { display: flex; justify-content: flex-end; gap: 2em; margin-right: 2em; }
.signatories > p { font-weight: 500; }

footer { color: var(--platinum); display: flex; justify-content: space-around; }
.social, .social ul, .links ul { list-style: none; padding: 0; }
.social li { font-size: unset; font-weight: bold; }
.speaker a { color: var(--black); }


.topic-grid { display: grid;  grid-template-columns: 3fr 2fr;  gap: 1em; }
table { border-collapse: collapse; font: 300 1em/1.1 "Montserrat"; }
table.agenda thead th { background-color: var(--tan); color: var(--platinum); font-weight: 500;
  font-size: 0.92em; text-transform: uppercase; padding: 0.75em 0.5em; }
table.agenda tbody td { background-color: hsla(28.1, 47.1%, 60%, 0.33); color: var(--platinum); font-size: 0.8em; padding: 0.9em 0.5em; }
table.agenda tbody td:first-of-type { font-weight: 500; }
table.agenda tbody tr:nth-child(2n+1) td { background-color: var(--orange);}

.speaker-bio { position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--opal);
  left: 0;
  top: 0; z-index: 5; }
.speaker-bio > div { margin: 0 auto; padding: 2rem; width: 67%; }
.speaker-bio figure { float: right; width: 20%; border-radius: 3px; padding: 0.5em; background-color: var(--platinum); display: flex; }
.profile-photo { float: right; display: flex;
  background-color: var(--orange);
  padding: 0.25em;
  border-radius: 3px; }

.longform-text p { font-size: 1em; line-height: 1.54; break-inside: avoid; }
.longform-text img { background-color: var(--white); float: right;
  width: 40%;
  margin: 0em;
      margin-left: 0em;
  border: 1px solid var(--opal-t);
  padding: 0.5em;
  margin-left: 1em; }


.animated { animation-duration: 1.33s; animation-fill-mode: both; animation-iteration-count: 10; }
.bounce { animation-name: bounce; }
@keyframes bounce { 
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}
.carat { bottom: 2rem; color: var(--orange); font: 700 4rem/0.25 'Montserrat', sans-serif; margin: 0; padding: 0; position: absolute; }


/* ====== COLOURS ====== */
:root {
    --platinum: rgb(239, 239, 239);
    --orange: rgb(245, 70, 25);
    --opal: rgb(163, 193, 198);
    --opal-t: rgba(163, 193, 198, 0.5);
    --tan: rgb(201, 150, 105);
    --tan-t: rgba(201, 150, 105, 0.6);
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
}

@media screen and (min-width: 1339.99px) {
  .speaker-grid { width: 80%; }

  .sash { display: none; }
}

@media screen and (max-width: 1039.999px) {
    .speaker-grid { max-width: unset; width: unset; }
    .speaker { width: 100%; }
    section:nth-of-type(2) ~ section { padding-bottom: 5rem; }

    .sash { display: none; }

    .right-opal-box{ padding-top: 40%; }
    .wordy { columns: inherit; }

    footer { margin-top: 5rem; }

}


@media screen and (max-width: 438.95px) {
    .page { grid-auto-rows: minmax(min-content, 67vh) auto minmax(min-content, auto); }
    .speaker-grid { grid-template-columns: 82%; gap: 1em; justify-content: center; grid-template-rows: repeat(8, minmax(320px, 1fr)) }
    .with-motif::before { right: 1.67em !important; }

    .home { gap: 1em; align-items: center; }
    section.home > header { width: 70%; margin-top: 4em; }
    section.home > div { width: unset; }

    .header-logo { width: 100%; }

    .byline { font-size: 1em; text-align: center; }
    .cta { gap: 0.25em; }
    .cta .button { font-size: 0.76em; padding: 0.65em 0.95em; }


    .speaker { width: 100%; }
    .speaker .box { width: 40%; }

    .speaker-bio { position: fixed; z-index: 5; }
    .at-top-for-small { position: absolute; top: 0.5em; left: 0.5em; font-size: 0.8em; }

    .wordy { columns: inherit; }
}