
<div class="speaker" @onclick="ShowBio">
    <div>
        <h3>@Presenting.Name</h3>
        <p>@Presenting.Title</p>
    </div>
    <div class="box">
        <img src="/img/DevNxt-vertical-logo-black.png" alt="conference logo" />
    </div>

            @if(DisplayBio){
            <div class="speaker-bio">
                <SpeakerBio Speaker=Presenting />
                <button type="button" class="btn" @onclick=CloseBio>X</button>
            </div>
        }

</div>

@code {

    [Parameter]
    public Presenter Presenting { get; set; }

    [Parameter]
    public EventCallback<string> OnShowBio { get; set; }

    protected bool DisplayBio = false;

    @* private async Task ShowBio(){
        await OnShowBio.InvokeAsync(Presenting.Name);
    } *@
    private void ShowBio(){
        //int speakerIndex = Array.FindIndex(speakers, s => s.Name == Name);
        //activeSpeaker = speakers[speakerIndex];
        DisplayBio = true;
    }

    private void CloseBio(){
        DisplayBio = false;
        //activeSpeaker = null;
    }
}