
<div class="speaker" @onclick="ShowBio">
    <div>
        <h3>@Presenting.Name</h3>
        <p>@Presenting.Title</p>
    </div>
    <div class="box">
        <img src="@Presenting.Image" alt="@Presenting.Name profile photo" />
    </div>
</div>

@code {

    [Parameter]
    public Presenter Presenting { get; set; }

    [Parameter]
    public EventCallback<string> OnShowBio { get; set; }

    private async Task ShowBio(){
        await OnShowBio.InvokeAsync(Presenting.Bio);
    }

}