
<div class="sponsor tier-@Tier">
    <div class="sponsor-boundary">
        <a href="@Url" target="_blank">
            <header></header>
            <img src="/img/sponsor-logos/@Logo" alt="@Title logo" style="width: 100%;" />
        </a>
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Logo { get; set; }
    [Parameter]
    public string Tier { get; set; }
    [Parameter]
    public string Url { get; set; }
}