
<div class="sponsor">
    <img src="/img/sponsor-logos/@Logo" alt="@Title logo" style="width: 246px;" />
</div>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Logo { get; set; }
    [Parameter]
    public string Tier { get; set; }
}